<section class="big-card-task">
  <div class="big-card-task__container">
    <div class="big-card-task__btn-close">Exit</div>
    <div class="big-card-task__title">Task name</div>
    <div class="big-card-task__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id eaque dolores
      praesentium ab suscipit facere eum officia illum necessitatibus provident autem modi laudantium nostrum molestiae
      nobis, fugiat quo nam repudiandae.
      Rerum doloribus repellendus sed at dolorem vitae tempora aliquam eum sit. Atque facilis soluta</div>

    <div class="big-card-task__menue menue-open-card">
      <p class="menue-open-card__title">
        <img src="./components/big-card-task/assets/board-view-Icon.svg" alt="список подзадач">Subtask list
      </p>
      <div class="menue-open-card__menue-btn-group">
        <div class="menue-open-card__new-subtask-btn">
          <span>+</span> Add subtask
        </div>

      </div>
    </div>

    <!-- для создания карточки -->


    <!-- Для отображения карточки -->


    <div class="big-card-task__subtask-list">
      <div class="big-card-task__subtask subtask-block">
        <input id="1-subtask-nameTask" type="checkbox" name="agreement" class="subtask-block__checkbox">
        <label for="1-subtask-nameTask" class="subtask-block__checkbox-label">
          <span class="subtask-block__text">Subtask text!!!
          </span>
        </label>
        <div class="subtask-block__btn-remove-task">X</div>
      </div>
    </div>

  </div>

</section>


<script src="./components/big-card-task/script.js"></script>